doctype html
html
  head
    title Paul Jensen
    link(rel="stylesheet", type="text/css", href="/css/cv-52489746f822ea29c2aede97ffae017e.css")
  body
    .container
      #header.row
        #myPicture
        h1 Paul Jensen
      #content
        .row
          .span6
            .location London, United Kingdom
            .phone +44 (0) 7914 171 345
            .email
              a(href='mailto:paulbjensen@gmail.com') paulbjensen@gmail.com
          .span8
            .summary 
              div Full stack developer.
              div Lead developer of the SocketStream web framework
              div Founder - Anephenix Ltd
          .span2
            div
              a(href="https://uk.linkedin.com/pub/paul-jensen/99/4b/189/") LinkedIn
            div
              a(href="https://github.com/paulbjensen") GitHub
            div
              a(href="https://twitter.com/paulbjensen") Twitter

        .row#skills
          .span16.last
            h2.center Skills
          .span16

            h3 Node.js (2011)
            ul 
              li Been using Node.js commercially since January 2011 (AOL). Continued to use it since.
              li The lead developer a real-time web framework called <a href="http://socketstream.com">SocketStream</a>.
              li Recently launched <a href="https://dashku.com">Dashku</a>, an application built with SocketStream. Built by myself in 2<sup>1/2</sup> months.
              li As part of Dashku, I've been building an npm called <a href="https://github.com/Anephenix/satellite">Satellite</a>, which adds some extensions to <a href="https://github.com/nodejitsu/node-http-proxy">node-http-proxy</a>.
              li Also part of Dashku, I created an <a href="https://github.com/Anephenix/dashku-node">npm</a> for Dashku that acts as a wrapper to its REST API. 

            h3 Javascript (2007) / CoffeeScript (2011)
            ul
              li Began using JavaScript at Tickex, and to a greater extent at New Bamboo and AOL.
              li Recreated the Snake game using HTML5 Canvas, whilst at New Bamboo. (<a href="https://github.com/newbamboo/Snake">Github</a>, <a href="http://blog.new-bamboo.co.uk/2009/12/31/html5-canvas-snake-game">blog post</a>)
              li Created a client-side templating library called <a href="http://paulbjensen.github.com/smartTemplate/">SmartTemplate</a> whilst at AOL.
              li Built a simple Heroku-based app called Coffee Grinder to convert CoffeeScript files to JavaScript, at AOL.

            h3 MongoDB (2011)
            ul
              li Been using MongoDB commercially since January 2011 (AOL). Used it continually since.
              li Experience with building apps that use MongoDB, optimising queries to reduce bandwidth consumption and query time, and setup/administration of MongoDB databases.
              li Spotted a bug in the Mongoid Rubygem (<a href="https://github.com/mongoid/mongoid/issues/1734">GitHub issue</a>).

            h3 Redis (2011)
            ul
              li Began using Redis at AOL.
              li Using Redis to handle user sessions and API key lookups in Dashku.
              li Currently developing an option within Satellite to store its internal data via Redis, in combination with using Node.js' cluster API.

            h3 Linux Server Administration (2010)
            ul
              li Setup the infrastructure for Axisto's applications and services (Axisto Live, Attendee.io, atn.io, Jobukyu, Webcast.io)
              li Setup upstart services, monitoring, ssh users, firewall, and documentation.

            h3 Git (2008)
            ul
              li Began using Git at Naked, and continued use since.
              li Experience with creating self-hosted git repositories (AOL), using feature branches, and using git blame to hunt down the introduction of bugs.
              li Working on a concept application that uses git hooks to alter the status of tasks and stories during an Agile sprint.

            h3 Ruby (2007)
            ul
              li I taught myself Ruby and Ruby on Rails at home. 
              li Later that year, I began usingit commercially at Tickex, and throughout until Uberlife.
              li Gave a presentation at LRUG April 2009 on using <a href="http://www.slideshare.net/paulbjensen/geokit-in-social-apps-1327600">Geokit in social apps</a>.
              li Created a <a href="https://github.com/Anephenix/dashku-ruby">Rubygem</a> as an API client for Dasku.

            h3 Ruby on Rails (2007)
            ul
              li Been using Ruby on Rails commercially at Tickex, Naked, New Bamboo, AOL and Uberlife.
              li Worked on Amnesty International's Protect the Human, AICrisis app, Vodafone 360, and Spabreaks.com's rewrite Rails applications.
              li Developed AOL Onboard as a Rails 3 application with good test coverage and BDD from the start.
              li At New Bamboo, I built a Rails plugin for helping developers build apps to visually match wireframes: <a href="http://paulbjensen.github.io/tangerine/">Tangerine</a>.

            h3 SQL (2007)
            ul
              li Some experience using MySQL/PostGreSQL at New Bamboo, AOL, and Axisto. Able to do queries fine, but my knowledge of joins needs improving.
 
            h3 HTML/CSS (2006)
            ul
              li Plenty of experience in working with HTML and CSS (from 2006 to today).
        
        .row#employment
          .span16.last
            h2.center Employment
            - for(employer in employers)
              .employer.clearfix
                .details
                  .company
                    a(href = employers[employer]['url'])
                      h3= employers[employer]['company']
                  .role= employers[employer]['role']
                  .timeline= employers[employer]['timeline']
                .description!= employers[employer]['description']

        .row#education
          .span16.center.last
            h2 Education
          .span16.center.last
            .school
              a(href = 'http://www.sharnbrook.beds.sch.uk') Sharnbrook Upper School & Community College (1998 - 2003)
            .university 
              a(href = 'http://www.cass.city.ac.uk') Cass Business School, City University London (2003 - 2006)
          .span5
            h3.center GCSEs
            table.table
              thead
                tr
                  th Subject
                  th Grade 
              tbody
                tr
                  td Business Studies
                  td A*
                tr
                  td Mathematics
                  td B
                tr
                  td Science
                  td B
                tr
                  td English
                  td B
                tr
                  td History
                  td B
                tr
                  td Expressive Arts
                  td B
                tr
                  td Religious Education
                  td B
                tr
                  td Food Technology
                  td D
                tr
                  td German
                  td D

          .span5.center
            h3 A Levels
            table.table
              thead
                tr
                  th Subject
                  th Grade 
              tbody
                tr
                  td A2 Communication Studies
                  td A
                tr
                  td A2 Business Studies
                  td B
                tr
                  td A2 Information Technology
                  td B
                tr
                  td A2 Philosophy
                  td D
                tr
                  td AS General Studies
                  td B

          .span6.center
            h3 Degree
            table.table
              thead
                tr
                  th Subject
                  th Grade 
              tbody
                tr
                  td BSc Management & Systems
                  td 2:1

        .row#achievements
          .span16.last
            h2.center Achievements
          .span16.last
            ul
              - for(achievement in achievements)
                li.ac
                  .year= achievements[achievement]['year']
                  .description= achievements[achievement]['achievement']

        .row#hobbies
          .span16.last
            h2.center Hobbies and Interests
          .span16.last
            ul
              li Cycling - Made my own bike out of bamboo
              li Reading non-fiction books (The Quants, Barbarians at the Gate, and Hatching Twitter)
              li Going to the gym to keep fit


        .row#references
          .span16.last
            h2.center References
          .span6
            a.name(href="http://uk.linkedin.com/in/dominicshelley") Dominic Shelley
            .title Vice President, European IT
            .company Hilton Worldwide
          .span6
            a.name(href="http://uk.linkedin.com/in/owenbarnes") Owen Barnes
            .title Web Technology Consultant
            .company Realtime Technologies Ltd
          .span4.last
            a.name(href="http://uk.linkedin.com/in/jlsync") Jason Lee
            .title Founder
            .company Rotaville

          
